/* Font Install */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*  */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */
.display-flex {
    display: flex;
}
.text-primary {
    color: #FF900E;
}
.text-gray {
    color: #424242;
}
.text-light-gray {
    color: #727272;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
}
main, footer {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Style */


/* Navbar Style */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 2.7rem;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-item:last-child {
    margin-right: 0px;
}
.nav-link a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* Baner style */
.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-weight: 600;
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}
/* Team and feacher related style */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}
.our-features{
    margin-left: 73px;
    max-width: 530px
}

#quick-list{
    font-weight: 500;
}
.feature-description {
    font-size: 1rem;
    line-height: 26px;
}

/* Features Will Enjoy Section */
.feature-section {
    gap: 140px;
}
.feature-architects img {
    width: 100%;
}
#feature-section-title {
    justify-content: space-between;
    color: #131313 !important;
    border-left: 5px solid #FF900E;
    padding-left: 50px;
}
.feature-section-description {
    max-width: 586px;
}
.feature-card-title {
    margin-bottom: 10px;
}
.feature-card {
    padding: 15px 30px;
    max-width: 586px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
#experience-badge {
    padding: 36px 35px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year {
    font-size: 3.5rem;
    font-weight: 700;
}

/* Some Facts related Style */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    
}
.fact-descriptions {
    max-width: 540px;
    margin-bottom: 50px;
}
.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
}

/* Sponsor Related Style */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

}
.sponsor-company img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.sponsor-company img:hover {
  filter: grayscale(0%);
}

/* Footer area */
footer {
    justify-content: center;
    margin: 100px auto;
    background-color: #FFF4E7;
    padding: 30px 0px;
    text-align: center;
}

footer p {
    font-size: 20px;
    color: #424242;
}

/* Responsive for Mobile Media Query */
@media screen and (max-width: 576px) 
{
    .display-flex {
        flex-direction: column;
    }
    .team-img-container,
    .facts-container,
    .sponsor-company
    {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .our-features {
        margin-left: 20px;
    }
    .sponsor-info {
        text-align: center;
    }
    .facts-container,
    .sponsor-company
    {
        justify-items: center;
        gap: 24px;
    }
    #experience-badge {
        width: 60%;
        padding: 15px 20px;
        margin-top: -10;
        margin-left: 1px;
    }
    #experience-year {
        font-size: 2.5rem;
    }
}


/* Responsive for Medium-device Media Query */
@media screen and (min-width:576px) and (max-width: 992px) 
{
    .teams,
    .feature-section 
    {
        flex-direction: column;
    }
    .our-features{
        margin: 20px auto;
        text-align: center;
    }
    .facts-container,
    .sponsor-company
    {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }
    .feature-card{
        min-width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #experience-badge {
        width: 40%;
        margin: 0 auto;
        margin-top: -80px;
        margin-left: 5px;
    }
    
}